parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days


di:
    export:
        parameters: no
        tags: no


services:
    authenticator: App\Service\Security\Authenticator
    router: App\Router\RouterFactory::createRouter
    - App\Facade\UserFacade
    - App\Forms\ILoginFormControlFactory
